src/main/resources/hn/com/tigo/josm/common/adapter/xsd/AttributeValuePair.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/AttributeValuePair" xmlns:tns="http://www.example.org/AttributeValuePair" elementFormDefault="qualified">

    <complexType name="AttributeValuePair">
    	<sequence>
    		<element name="attribute" type="string"></element>
    		<element name="value" type="string"></element>
    	</sequence>
    </complexType>

    <element name="attributeValuePair"
    	type="tns:AttributeValuePair">
    </element>
</schema>