src/main/resources/hn/com/tigo/josm/common/configuration/xsd/BrokerConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://tigo.com.hn/BrokerConfig/V1"
	elementFormDefault="qualified" 
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://tigo.com.hn/BrokerConfig/V1">

    <complexType name="BrokerConfig">
    	<sequence>
    		<element name="brokerElement" type="string" minOccurs="1" maxOccurs="1"/>
    		<element name="cacheBpmTimeCompile" type="int" minOccurs="1" maxOccurs="1"/>
    		<element name="cacheParametersTime" type="int" minOccurs="1" maxOccurs="1"/>
    		<element name="cacheTaskFactory" type="int" minOccurs="1" maxOccurs="1"/>
    	</sequence>
    </complexType>
</schema>