src/main/resources/hn/com/tigo/josm/persistence/configuration/xsd/Configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.tigo.com.hn/persistence/Configuration/V1"
	xmlns:tns="http://www.tigo.com.hn/persistence/Configuration/V1"
	elementFormDefault="qualified">

	<element name="configuration" type="tns:Configuration" />
	<complexType name="Configuration">
		<sequence>
			<element name="providerUrl" type="string" minOccurs="1"
				nillable="false" />
			<element name="initialContextFactory" type="string"
				minOccurs="1" nillable="false" />
		</sequence>
	</complexType>

</schema>